<div class="main-total-wrapper">
    <main>
        <div class="bg-image-container"></div>
        <div class="row divSpace martot-zero main-navigation-portal-container">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center main-navigation-portal">
                <button class="btn btn-primary main-portal-navigation-links" (click)="onChannelClick('Retail')">Retail</button>
                <p class="login-portal-description text-left">{{retailText}}</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center main-navigation-portal">
                <button class="btn btn-primary main-portal-navigation-links" (click)="onChannelClick('Correspondent')">Correspondent</button>
                <p class="login-portal-description text-left">{{correspondentText}}</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center main-navigation-portal">
                <button class="btn btn-primary main-portal-navigation-links" (click)="onChannelClick('Wholesale')">Wholesale</button>
                <p class="login-portal-description text-left">{{wholesaleText}}</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center main-navigation-portal">
                <button class="btn btn-primary main-portal-navigation-links" (click)="onChannelClick('customerServiceCenter')">Customer Service Center</button>
                <p class="login-portal-description text-left">{{customerServiceText}}</p>
            </div>
        </div>
    </main>
</div>